<div class="header-search dropdown dropdown--search">
  <button type="button" class="hds-button hds-button--secondary hds-button--search-toggle" aria-expanded="false" data-dropdown-trigger="">
    <span aria-hidden="true" class="hel-icon hel-icon--search hds-icon--size-m"></span>
    <span class="hds-button__label">{{ 'Search'|t }}</span>
  </button>

  <div class="header-search__form-wrapper">
    {{ form }}
  </div>
</div>
