parameters:
  fileExtensions:
      - php
      - module
      - install
      - theme
  paths:
    - ./public/modules/custom/helhist_tokens
  excludePaths:
    - vendor
    - */node_modules/*
  level: 3
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
