.page-type--kore-school {
  .before-content {
    .back-to-search-results__container {
      padding-top: 0;
    }

    .back-to-search-results {
      @include breakpoint($breakpoint-m) {
        padding-left: $spacing-triple * 2;
      }
    }
  }

  .main-content {
    margin-top: 0;
  }

  .node--type-kore-school {
    &.node--view-mode-full {
      max-width: $content-width-max;
      margin: 0 auto;

      .label {
        @include font-size($fontsize-heading-l);
        margin-top: $spacing-double;
      }

      .kore--field {
        display: grid;
        grid-template-columns: 50% 50%;

        .paragraph--type--kore,
        .paragraph--type--kore-continuum {
          padding: $spacing;
          border: 1px solid $color-black-40;
          font-size: 1.25rem;

          .kore--date {
            width: max-content;
            padding: $spacing-half;
            border: 1px solid $color-black-60;
            font-size: 1rem;
            color: $color-black-80;
          }
        }
      }
    }
  }

}
