.page-type--kore-school {
  .before-content {
    .kore-school-header__container {
      @include breakpoint($breakpoint-m) {
        padding-left: $spacing-double * 4;
      }
    }
    .back-to-search-results__container {
      padding-top: 0;
    }

    .back-to-search-results {
      @include breakpoint($breakpoint-m) {
        padding-left: $spacing-triple * 2;
      }
    }
  }

  .main-content {
    margin-top: $spacing;
  }

  .node--type-kore-school {
    &.node--view-mode-full {
      margin: 0 $spacing-double;
      max-width: $content-width-max;

      @include breakpoint($breakpoint-m) {
        margin: 0 auto;
      }

      .label {
        @include font-size($fontsize-heading-l);
        margin-top: $spacing-double;
      }

      .kore--field {
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 1px solid $color-black-40;

        .paragraph--type--kore {
          align-items: center;
          border: 1px solid $color-black-40;
          border-bottom: none;
          display: flex;
          flex-wrap: nowrap;
          font-size: 1.25rem;
          gap: $spacing;
          padding: $spacing;

          .hel-icon {
            flex-shrink: 0;
            width: 22px;
          }

          .kore--content {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            min-width: 0;

            .kore--address {
              white-space: nowrap;
              margin: 0 0.5rem;
            }
          }

          .kore--date,
          .kore--show-on-map {
            flex-shrink: 0;
          }

          .kore--date {
            border: 1px solid $color-black-60;
            color: $color-black-80;
            font-size: 1rem;
            min-width: 100px;
            padding: $spacing-half;
            text-align: center;
          }

          &.paragraph--type--kore-archive {
            a {
              margin-left: 0.25rem;
            }
          }

          &.paragraph--type--kore-building {
            .kore--content {
              flex-wrap: wrap;

              .paragraph--type--kore-address {
                &:not(:last-of-type)::after {
                  content: '=';
                  margin-right: 0.25rem;
                }
                &:last-of-type,
                &:only-of-type {
                  display: flex;
                  flex-flow: column;

                  @include breakpoint($breakpoint-m) {
                    flex-flow: row;
                  }
                }

                .hds-button {
                  margin: 0 3rem 1rem 0;
                  width: max-content;

                  @include breakpoint($breakpoint-m) {
                    margin: 0 0 0 1rem;
                  }
                }
              }
            }
          }

          &.paragraph--type--kore-continuum,
          &.paragraph--type--kore-lineage {
            a {
              margin-left: 0.25rem;
            }
          }
        }
      }

      .kore--photos {
        column-gap: $spacing;
        display: grid;
        grid-template-columns: 1fr;

        @include breakpoint($breakpoint-m) {
          grid-template-columns: 1fr 1fr;
        }

        @include breakpoint($breakpoint-xl) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        .kore--photo {
          margin-bottom: $spacing-double;

          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
