.page-type--kore-school {
  .before-content {
    .kore-school-header__container {
      @include breakpoint($breakpoint-m) {
        padding-left: $spacing-double * 4;
      }
    }
  }

  .main-content {
    margin-top: $spacing;
  }

  .node--type-kore-school {
    &.node--view-mode-full {
      margin: 0 $spacing-double;
      max-width: $content-width-max;

      @include breakpoint($breakpoint-m) {
        margin: 0 auto;
      }

      .label {
        @include font-size($fontsize-heading-l);
        margin-top: $spacing-double;
      }

      .kore--field {
        border-bottom: 1px solid $color-black-40;
        display: grid;
        grid-template-columns: 1fr;

        .paragraph--type--kore {
          align-items: flex-start;
          border: 1px solid $color-black-40;
          border-bottom: none;
          display: flex;
          flex-wrap: nowrap;
          font-size: 1.25rem;
          gap: $spacing;
          padding: $spacing;

          @include breakpoint($breakpoint-m) {
            align-items: center;
          }

          .hel-icon {
            flex-shrink: 0;
            width: 22px;
          }

          .kore--content {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            min-width: 0;

            .kore--address {
              margin: 0 0.5rem;
              white-space: nowrap;
            }
          }

          .kore--actions {
            display: flex;
            flex-direction: column;
            gap: $spacing;

            @include breakpoint($breakpoint-m) {
              flex-direction: row;
            }
          }

          .kore--date,
          .kore--show-on-map {
            flex-shrink: 0;
            width: 100%;

            @include breakpoint($breakpoint-m) {
              width: auto;
            }
          }

          .kore--date {
            border: 1px solid $color-black-60;
            color: $color-black-80;
            font-size: 1rem;
            padding: $spacing-half;
            text-align: center;
          }

          .kore--show-on-map {
            a,
            button {
              width: 100%;
            }
          }

          &.paragraph--type--kore-archive {
            a {
              margin-left: 0.25rem;
            }
          }

          &.paragraph--type--kore-continuum,
          &.paragraph--type--kore-lineage {
            a {
              margin-left: 0.25rem;
            }
          }
        }
      }

      .kore--photos {
        column-gap: $spacing;
        display: grid;
        grid-template-columns: 1fr;

        @include breakpoint($breakpoint-m) {
          grid-template-columns: 1fr 1fr;
        }

        @include breakpoint($breakpoint-xl) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        .kore--photo {
          margin-bottom: $spacing-double;

          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
