.hdbt_taxonomy__wrapper {
  margin: 0 -#{$spacing-quarter} $spacing-double -#{$spacing-quarter};

  .label {
    @include font-size(18px, 30px);
    color: $color-black-90;
    font-weight: $font-weight-medium;
    margin: 0 $spacing-quarter $spacing-half;

    @include breakpoint($breakpoint-m) {
      @include font-size(24px, 30px);
      margin: 0 $spacing-quarter $spacing;
    }
  }

  .hdbt_taxonomy {
    display: flex;
    flex-flow: row wrap;

    a,
    > span {
      @include font-size(16px, 24px);
      border: 1px solid $color-black;
      border-radius: $spacing-and-half;
      font-weight: $font-weight-regular;
      margin: $spacing-quarter;
      padding: $spacing-half $spacing-double;
    }

    a {
      background-color: $color-black;
      color: $color-white;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $color-white;
        color: $color-black;
      }
    }

    > span {
      background-color: transparent;
      border-color: $color-black-20;
      color: $color-black-90;
      padding: calc(#{$spacing-half} - 1px) calc(#{$spacing-double} - 1px);
    }
  }
}
