$arrow-container-height: 48px;

.paragraph-content .gallery {
  max-width: $content-width-max;
  position: relative;

  .media--image__caption {
    padding-left: 0;
    padding-right: 0;
    margin-top: $spacing-half;

    @include breakpoint($breakpoint-m) {
      @include font-size(14px, 18px);
    }

    @include breakpoint($breakpoint-l) {
      @include font-size(20px, 32px);
    }
  }
}

.gallery__main {
  padding-bottom: $arrow-container-height + $spacing-half;

  @include breakpoint($breakpoint-m) {
    padding-bottom: $arrow-container-height + $spacing-double;
  }

  @include breakpoint($breakpoint-l) {
    padding-bottom: 0;
  }

  .gallery__slides {
    margin: 0 auto;

    @include breakpoint($breakpoint-l) {
      max-width: 83%;
    }

    .splide__list {
      .splide__slide {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

.gallery__slide-count {
  @include font-size(18px, 23px);
  align-items: center;
  bottom: 0;
  display: flex;
  height: $arrow-container-height;
  justify-content: center;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 50%;

  @include breakpoint($breakpoint-l) {
    display: none;
  }
}

.splide__pagination {
  display: none;

  @include breakpoint($breakpoint-m) {
    display: block;
  }

  .splide__pagination__page {
    background-color: rgba($color-black, 0.2);
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 10px 6px 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    width: 20px;

    &:hover {
      background-color: rgba($color-black, 0.4);
      transform: scale(1.1);
    }

    &.is-active {
      background-color: $color-black;
      border-color: $color-black;
      transform: scale(1.2);
    }
  }
}

// Splide library styling
.splide__arrows {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-top: 0;
  position: absolute;
  right: 0;

  @include breakpoint($breakpoint-l) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  .splide__arrow {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: $arrow-container-height;
    margin: 0;
    padding: 0;
    transition: transform 0.2s ease-in-out;
    width: $arrow-container-height;

    @include breakpoint($breakpoint-l) {
      height: 64px;
      width: 64px;
    }

    @include breakpoint($breakpoint-xl) {
      height: 96px;
      width: 96px;
    }

    &[disabled] {
      opacity: 0.2;
    }

    svg {
      display: none;
    }

    &.splide__arrow--prev {
      background-image: url('../icons/arrow-left.svg');

      &:hover {
        transform: translateX(-5px);
      }
    }

    &.splide__arrow--next {
      background-image: url('../icons/arrow-right.svg');

      &:hover {
        transform: translateX(5px);
      }
    }
  }
}

// Tiny-slider overrides {
.tns-outer {
  position: relative;
}

.tns-disabled {
  .tns-controls {
    display: none;
  }

  .tns-inner {
    display: none;

    @include breakpoint($breakpoint-l) {
      display: flex;
      justify-content: center;
    }
  }
}

.tns-controls {
  button {
    background-color: rgba($color-white,0.8);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -999px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    z-index: 1;

    &[disabled] {
      display: none;
    }

    &[data-controls=prev] {
      background-image: url('../icons/angle-left.svg');
      left: $spacing-quarter;
    }

    &[data-controls=next] {
      background-image: url('../icons/angle-right.svg');
      right: $spacing-quarter;
    }
  }
}

// Sidebar layout.
.has-sidebar.enriched-content, // TODO: Clean up when unit sidebar block has been created.
.has-sidebar .main-content {

  // Gallery arrows.
  .splide__arrows .splide__arrow {
    @include breakpoint($breakpoint-xl) {
      height: 64px;
      width: 64px;
    }
  }
}
