.search-results {
  position: relative;

  .search-wrapper.is-loading & {
    .search-header__left,
    .search-header__right {
      opacity: 0.4;

      // Hide "0 results" while loading.
      h3 {
        display: none;
      }
    }
  }

  .spinner-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 12rem;
    width: 100%;

    svg {
      height: auto;
      max-width: 160px;
    }
  }

  header {
    @include breakpoint($breakpoint-s) {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      margin: 0 0 $spacing;
    }

    h3 {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .search-header__right {
    margin-top: $spacing;

    @include breakpoint($breakpoint-s) {
      margin-top: auto;
    }
  }

  .search-header__sort-container {
    align-items: center;
    display: flex;

    h4 {
      margin: 0;
      @include font-size($fontsize-body-m, $lineheight-l);
    }

    ul.sort-options {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: $spacing-half;
        margin-top: 0 !important;
      }

      button {
        align-items: center;
        background: transparent;
        border: 0;
        color: $color-black;
        cursor: pointer;
        display: flex;

        &:hover {
          text-decoration: none;
        }

        .hel-icon {
          color: $color-metro-dark;
          --icon-size: 1.25rem;
        }
      }

      li.active button {
        font-weight: $font-weight-bold;
        text-decoration: none;
      }
    }
  }

  .search-results-wrapper {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-s) {
      display: flex;
      flex-wrap: wrap;
      margin-top: $spacing-triple;
    }
  }

  .result-wrapper {
    background: $color-white;
    flex: 1 1 100%;
    margin-bottom: $spacing-double;
    hyphens: auto;
    overflow: hidden;

    @include breakpoint($breakpoint-s) {
      flex: 0 1 46%;
      margin: 0 2% $spacing-double 2%;
    }

    @include breakpoint($breakpoint-m) {
      flex: 0 1 31%;
      margin: 0 1% $spacing-double 1%;
    }

    @include breakpoint($breakpoint-l) {
      flex: 0 1 23%;
      margin: 0 1% $spacing 1%;
    }
  }

  article.content-card {
    min-width: 100%;
    padding-left: 0;

    .content-card__link {
      width: auto;
    }
  }
}
