.search-filters {
  background-color: $color-black-80;
  margin-bottom: $spacing-sextuple;
  position: relative;

  .path-frontpage & {
    margin: $spacing;

    @include breakpoint($breakpoint-xl) {
      margin: $spacing-double auto;
      max-width: 900px;
    }
  }

  .form-label {
    color: white;
    font-size: 1rem;
    margin: 0 0 10px;
  }

  .form-actions {
    button {
      margin-right: $spacing-half;
      --background-color: var(--color-metro-dark);
      --background-color-hover: var(--color-metro-dark-hover);
      --background-color-focus: var(--color-metro-dark-hover);
      --background-color-hover-focus: var(--color-metro-dark-hover);
      --background-color-disabled: var(--color-metro-medium-light);
      --border-color: var(--color-metro-dark);
      --border-color-hover: var(--color-metro-dark-hover);
      --border-color-focus: var(--color-metro-dark-hover);
      --border-color-hover-focus: var(--color-metro-dark-hover);
      --border-color-disabled: var(--color-metro-medium-light);
      --color: var(--color-white);
      --color-hover: var(--color-white);
      --color-focus: var(--color-white);
      --color-hover-focus: var(--color-white);
      --color-disabled: var(--color-white);
      --focus-outline-color: var(--color-black);
      --submit-input-focus-gutter-color: var(--color-white);
    }
  }

  .filters {
    padding: $spacing-double 0;

    .path-frontpage & {
      padding-top: 0;
    }
  }

  .hds-koros {
    display: block;
    position: absolute;
  }

  .hds-text-input .hds-text-input__input {
    background-position: calc(100% - var(--spacing-s)) center;
    border: 0;
    cursor: pointer;

    &:focus {
      box-shadow: 0px 0px 0px 3px $color-metro-dark;
      outline: none;
    }
  }

  button[type="button"]:focus {
    box-shadow: 0px 0px 0px 3px $color-metro-dark;
    outline: none;
  }

  .hds-text-input__input-wrapper .hel-icon {
    margin-top: -12px;
    position: absolute;
    right: 12px;
    top: 50%;
  }

  form {
    label {
      color: $color-white;
    }

    .form-actions {
      margin-bottom: $spacing-double;
    }
  }

  .form-item {
    margin-bottom: $spacing;

    &.form-item-s {
      margin-bottom: $spacing;

      label {
        display: block;
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }
    }

    // Dropdowns.
    ul {
      li {
        margin: 0 !important;
      }
    }
  }

  .search-filters__era-selector {
    padding-left: $spacing;

    div[role="button"] {
      color: var(--placeholder-color);
      font-weight: 400;
    }

    div[role="region"] {
      border-top: 1px solid $color-black-10;
      padding-top: $spacing-three-quarters;
    }

    label {
      color: $color-black-80;
    }

    .year-input-container {
      align-items: center;
      display: flex;

      .item-divider {
        margin-top: $spacing-double;
        padding: 0 $spacing-quarter;
      }
    }
  }

  .year-interval {
    .year-interval__toggle {
      align-items: center;
      background-color: $color-white;
      border: 0;
      box-sizing: border-box;
      color: $color-black-90;
      cursor: pointer;
      display: flex;
      font-size: 1.125em;
      height: 56px;
      justify-content: space-between;
      line-height: normal;
      padding: 0 $spacing;
      width: 100%;

      label {
        color: $color-black-90;
        margin-bottom: 0;
      }
    }

    .year-interval__form {
      background: $color-white;
      border-top: 1px solid $color-black-10;
      padding: $spacing;
    }

    .year-interval__form-items {
      align-items: center;
      display: flex;

      label {
        color: $color-black-90;
      }

      .hds-text-input .hds-text-input__input {
        border: 2px solid $color-black-50;
      }

      .item-divider {
        margin-top: 7px;
        padding: 0 $spacing-quarter;

        svg {
          vertical-align: middle;
        }
      }
    }
  }
}
