.search-result {
  .search-result__image {
    height: 200px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  
  .search-result__video {
    height: 200px;
    iframe {
      height: 100%;
      width: 100%;
    }
  }

  .metadata-wrapper {
    background: $color-white;
    padding: $spacing;

    .metadata-row {
      align-items: flex-start;
      display: flex;
      margin: 0 0 $spacing;
    }

    .metadata-item {
      align-items: center;
      background-color: $color-sand;
      color: $color-metro-dark;
      display: flex;
      font-size: 14px;
      line-height: 1.4em;
      margin-right: $spacing;
      min-height: $spacing-double;
      padding: 0 $spacing-half;
    }

    .bundle-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .bundle-icon {
      margin-right: $spacing-quarter;

      svg {
        vertical-align: middle;
      } 
    }

    h3 {
      font-size: 18px;
      font-weight: $font-weight-bold;
      margin: 0 0 $spacing;

      a {
        text-decoration: none;
      }
    }
  }
}