{#
/**
 * @file
 * Theme override for KoRe paragraph fields on kore_school nodes.
 *
 * Renders field values as semantic list items (ul/li). The geolocation field
 * uses field--node--field-geolocation--kore-school.html.twig instead.
 *
 * @see template_preprocess_field()
 * @see paragraph--kore-paragraph.html.twig
 * @see paragraph--kore-paragraph-single.html.twig
 */
#}
{%
  set field_icons = {
    'field_kore_lineages': 'link',
    'field_kore_buildings': 'company',
    'field_kore_types': 'layers',
    'field_kore_genders': 'group',
    'field_kore_languages': 'globe',
    'field_kore_principals': 'entrepreneur',
    'field_kore_archives': 'document',
    'field_kore_photos': 'photo',
  }
%}
{%
  set title_classes = [
    'label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  <ul class="kore--field kore--field-list" role="list">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </ul>
{% else %}
  {% set field_icon = field_icons[field_name] ?? 'info-circle' %}
  <div class="kore--field-header">
    {% if field_icon %}
      {% include "@hdbt/misc/icon.twig" with { icon: field_icon } %}
    {% else %}
      <span class="kore--field-header__spacer" aria-hidden="true"></span>
    {% endif %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}: </div>
  </div>
  <ul class="kore--field kore--field-list" role="list">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </ul>
{% endif %}
