.views--listings {
  display: flex;
  flex-flow: row wrap;
  margin: $spacing-double (-$spacing-half);

  .views-row {
    flex: 0 100%;
    margin-bottom: $spacing;

    @include breakpoint($breakpoint-m) {
      flex: 1 50%;
      max-width: 50%;
    }
  }

  article.content-card--design-listing-item {
    height: 100%;
    min-width: 100%;

    .content-card__link {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      @include breakpoint($breakpoint-m) {
        flex-direction: row;
      }

      .content-card__image,
      .content-card__content {
        width: 100%;

        @include breakpoint($breakpoint-m) {
          width: 50%;
        }
      }
    }
  }
}
