.views--kore-search {

  .kore-search-content {
    margin-top: -90px; // rather hack for now, @todo fix when pull/345 get merged
    margin-bottom: 2rem;
  }

  .views-exposed-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    label {
      color: var(--label-color-default);
      display: block;
      font-size: var(--fontsize-body-m);
      font-weight: 500;
      margin-bottom: var(--spacing-3-xs);
    }

    .form-item-field-kore-name-value {
      flex-basis: 100%;
    }

    .form-item-field-kore-type-value,
    .form-item-field-kore-language-value {
      flex-basis: 49%;
    }

    .form-item-field-kore-start-year-value {
      flex-basis: 49%;

      .hds-text-input__input-wrapper {
        flex-flow: column;
      }
    }

    .form-item-field-kore-end-year-value {
      flex-basis: 49%;

      .hds-text-input__input-wrapper {
        flex-flow: column;
      }
    }

    .form-actions {
      margin-bottom: $gutter;
    }
  }

  .views-row {
    display: none;
  }

  h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;

    &:nth-of-type(odd) {
      background-color: #f2f2f2;
    }

    &:hover {
      a:first-child {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;

      .paragraph--type--kore-name {
        .hel-icon {
          display: none;
        }
      }

      &:first-child {
        .paragraph--type--kore-name {
          font-size: 1.5rem;
          padding-bottom: 0.5rem;

          .hel-icon {
            display: inline-block;
            margin-bottom: 4px;
            height: 1.25rem;
            width: 1.25rem;
          }
        }
      }
    }
  }
}
