.node-type--map_page {
  .exposed-filters {
    background-color: $color-black-80;
    margin-top: $spacing-double;
    padding: $spacing;

    @include breakpoint($breakpoint-m) {
      padding: $spacing-double;
    }

    .exposed-filters__title {
      color: $color-white;
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 $spacing;
    }

    .exposed-filters__row {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      gap: $spacing $spacing-double;

      @include breakpoint(0 $breakpoint-m) {
        gap: $spacing;
      }
    }

    .views-exposed-form {
      display: contents;
    }

    .form-item {
      margin-bottom: 0;
      min-width: 0;
      width: 100%;

      .form-label,
      .hds-text-input__label {
        color: $color-white;
        font-size: 1rem;
        margin: 0 0 $spacing-quarter;
      }

      .hds-text-input .hds-text-input__input,
      .form-select {
        background-color: $color-white;
        border: 2px solid $color-black-20;
        min-height: 2.75rem;

        &:focus {
          box-shadow: 0 0 0 3px $color-metro-dark;
          outline: none;
        }
      }

      @include breakpoint(0 $breakpoint-m) {
        &.form-item-start-year,
        &.form-item-end-year {
          flex: 1 1 calc((100% - #{$spacing}) / 2);
          max-width: calc((100% - #{$spacing}) / 2);
        }
      }

      @include breakpoint($breakpoint-m) {
        flex: 0 1 auto;
        width: auto;

        &.form-item-start-year,
        &.form-item-end-year {
          flex: 0 0 8rem;
        }

        &.form-item-field-keywords-target-id {
          flex: 1 1 12rem;
          max-width: 20rem;
          min-width: 12rem;
        }
      }
    }

    .form-actions {
      margin-bottom: 0;
      width: 100%;

      .hds-button,
      input[type="submit"] {
        min-height: 2.75rem;
        width: 100%;
      }

      @include breakpoint($breakpoint-m) {
        flex: 0 0 auto;
        width: auto;

        .hds-button,
        input[type="submit"] {
          width: auto;
        }
      }
    }
  }
}

.views--combined-map {
  .map-container {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .main-map-container {
    height: 80vh !important;
    width: 100%;

    @include breakpoint($breakpoint-m) {
      height: 70vh !important;
    }
  }

  #comparison-map-container {
    border-top: 3px solid $color-black-80;
    display: none;
    height: 40vh;
    width: 100%;

    @include breakpoint($breakpoint-m) {
      border-left: 3px solid $color-black-80;
      border-top: 0;
      height: 70vh;
      width: 50%;
    }
  }

  &.comparison-enabled {
    .map-container {
      @include breakpoint($breakpoint-m) {
        display: flex;
      }
    }

    .main-map-container {
      height: 40vh !important;
      width: 100%;

      @include breakpoint($breakpoint-m) {
        height: 70vh !important;
        width: 50%;
      }
    }

    .center-pointer {
      display: block !important;
      left: 50%;
      margin: -16px 0 0 -16px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      z-index: 401;

      .hel-icon {
        --icon-size: 1.5rem;
        transform: rotate(45deg);
      }
    }
  }

  .marker-cluster-small,
  .marker-cluster-medium {
    background-color: rgba(209, 67, 20, 0.7);
    transition: box-shadow 0.08s;

    &:hover {
      box-shadow: 0px 0px 6px rgba(189, 47, 0, 0.6);
    }

    div {
      background-color: rgba(189, 47, 0, 0.55);
    }

    span {
      color: white;
      font-family: $font-default;
      font-weight: $font-weight-bold;
    }
  }

  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      min-width: 300px;
      .leaflet-popup-content {
        margin: -1px;

        article.content-card--design-map-item {
          background: transparent;
          margin: 0;
          min-width: 100%;
          padding: 0;

          a {
            border-radius: 12px;
            color: var(--hdbt-default-link-color);
            padding: 0;
            width: 100%;

            .content-card__content {
              h3 {
                font-size: 16px;
                line-height: 1.2rem;
              }
            }
          }
        }
      }
    }

    .leaflet-popup-close-button {
      background: $color-black-80;
      border-radius: 50%;
      color: $color-white;
      height: 24px;
      padding: 0;
      right: -10px;
      top: -10px;
      width: 24px;

      &:hover,
      &:focus {
        background: $color-black-70;
        color: $color-white;
      }
    }
  }
}

#map-loading-overlay {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 410;

  #spinner-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
}

#map-loading-spinner {
  background: url('../icons/loading-spinner.svg');
  background-size: 100%;
  height: 150px;
  width: 150px;
}
