.block--header-search {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  grid-area: search;
  margin-left: $spacing-triple;
  position: static;
  z-index: 100;

  @include breakpoint($breakpoint-m) {
    margin: 0 $spacing 0 auto;
    order: 2;
  }

  .nav-toggle--search {
    .nav-toggle__button {
      display: flex;
      visibility: visible;
    }

    .nav-toggle__label {
      align-items: center;
      flex-direction: column;
      gap: 2px;

      &--open {
        display: flex;
        visibility: visible;
      }

      &--close {
        display: none;
        visibility: hidden;
      }
    }

    .nav-toggle__button[aria-expanded="true"] {
      .nav-toggle__label {
        &--open {
          display: none;
          visibility: hidden;
        }
        &--close {
          display: flex;
          visibility: visible;
        }
      }
    }
  }

  .header-search__form-wrapper {
    background-color: $color-black-5;
    border-bottom: 1px solid #ccc;
    display: none;
    left: 0;
    padding: $spacing-and-half $spacing-double $spacing-triple;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;

    .hds-text-input--search {
      margin: 0 auto;
      max-width: 600px;
    }

    .hds-text-input__input-wrapper {
      display: flex;
      height: 100%;
      position: relative;

      input {
        background-image: none;
      }

      .hds-button {
        height: 100%;
        position: absolute;
        right: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

