.block--header-search {
  display: none;
  grid-area: search;
  position: static;
  z-index: 100;
  @include breakpoint($breakpoint-m) {
    align-items: center;
    display: flex;
    margin: 0 $spacing 0 auto;
    order: 2;
  }

  .hds-button--search-toggle {
    border: 0;
  }

  .hds-button--search-toggle[aria-expanded="true"] {
    background-color: var(--color-black-5);
    outline: var(--outline-width) solid var(--focus-outline-color);
  }

  .header-search__form-wrapper {
    background-color: $color-white;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #555;
    display: none;
    left: 0;
    margin-top: 15px;
    padding: $spacing-and-half $spacing-double;
    position: absolute;
    right: 0;
    top: unset;

    .hds-text-input--search {
      margin: 0 auto;
      max-width: 600px;
    }

    .hds-text-input__input-wrapper {
      display: flex;
      height: 100%;
      position: relative;

      input {
        background-image: none;
      }

      .hds-button {
        height: 100%;
        position: absolute;
        right: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  [aria-expanded=true] + .header-search__form-wrapper {
    display: block;
  }
}
