.social-media-sharing {
  display: flex;
  line-height: 1;
  margin-bottom: $spacing;

  .social-media-sharing__title {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: $font-weight-medium;
    margin-right: $spacing-half;
  }

  .share {
    list-style: none;

    .hel-icon {
      --icon-size: #{$spacing-double};
    }

    &:focus,
    &:active,
    &:hover {
      &.email,
      &.twitter {
        color: $color-black-80;
      }

      &.facebook-share {
        color: #1877f2;
      }

      &.linkedin {
        color: #0077b5;
      }
    }
  }
}
