.social-media-sharing {
  display: flex;
  line-height: 0;
  margin: 0 -6px $spacing-and-half; // By design the margin is 12px.
  .social-media-sharing__title {
    display: flex;
    align-items: center;
    margin-right: $spacing;

    .hel-icon {
      margin-right: $spacing-half;
      --icon-proportions: #{$spacing-and-half};
    }

    svg {
      vertical-align: middle;
    }
  }

  .share {
    color: $color-black;
    list-style: none;
    margin: 0 6px; // By design the margin is 12px.
    text-decoration: none;

    .hel-icon {
    --icon-proportions: #{$spacing-and-half};
    }

    &:focus,
    &:active,
    &:hover {
      &.email {
        color: $color-black-70;
      }

      &.facebook-share {
        color: #4169AF;
      }

      &.linkedin {
        color: #0079B2;
      }

      &.twitter {
        color: #0DA4EE;
      }
    }
  }
}
