.mobile-navigation.mm-menu,
.cssnav {
  li.search-link {
    a {
      padding: $spacing;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-black-80;
      color: white;
      text-decoration: none;
      .hel-icon {
        vertical-align: middle;
        margin-right: $spacing;
      }
    }
  }
}
