.mobile-navigation.mm-menu,
.cssnav {
  li.search-link {
    background-color: $color-black-80;
    padding: 2px;

    a {
      align-items: center;
      background-color: $color-black-80;
      border: 2px solid white;
      color: white;
      display: flex;
      justify-content: center;
      padding: $spacing;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $color-black-90;
        border: 2px solid $color-black-90;
      }

      .hel-icon {
        margin-right: $spacing;
        vertical-align: middle;
      }
    }
  }
}
