// Components imports

// Block
@import 'block/frontpage_search';
@import 'block/header_search';
@import 'block/map_lift_block';
@import 'block/page_title';
@import 'block/social_media';

// Button
@import 'button/button';

// Content
@import 'content/article';
@import 'content/blockquote';
@import 'content/highlighted';
@import 'content/kore_school';
@import 'content/listing_page';
@import 'content/map_page';
@import 'content/quoted';
@import 'content/search_page';
@import 'content/webform';

// Field
@import 'field/field_reading_time';

// Layout
@import 'layout/tools';

// Map
@import 'map/map_controls';

// Media
@import 'media/image_full';
@import 'media/remote_video_full';

// Misc
@import 'misc/eu-cookie-compliance-banner';
@import 'misc/select2';

// Navigation
@import 'navigation/breadcrumb';

// Paragraph
@import 'paragraph/content_cards';
@import 'paragraph/gallery';
@import 'paragraph/hero';
@import 'paragraph/image_paragraph';
@import 'paragraph/remote_video_paragraph';
@import 'paragraph/text_frontpage';
@import 'paragraph/timeline';

// Search
@import 'search/historia-search';
@import 'search/search_filters';

// Taxonomy
@import 'taxonomy/hdbt_taxonomy';

// Views
@import 'views/article_listing';
@import 'views/kore_search';
@import 'views/map';
@import 'views/pager';

